*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 1fr));  
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.wrapper .input-data{
    height: 40px;
    width: 100%;
    position: relative;
}
.wrapper .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
}
.input-data input:focus~label ,.input-data input:valid~label{
    transform: translateY(-20px);
    font-size: 15px;
    color: #4158d0;
}
.wrapper .input-data label{
    position: absolute;
    bottom: 16px;
    left: 0;
    color: gray;
    pointer-events: none;
    transition: all 0.3s ease;
}
.wrapper .input-data .underline{
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
}
.input-data .underline::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #4158d0;
    transform: scale(0);
    transition: transform 0.3s ease;
}
.input-data input:focus~.underline::before ,
.input-data input:valid~.underline ::before{
    transform: scaleX(1);
}
.eye{
     position: absolute;
     top: 10px;
     right: 2px;
}
#hide2{
    display: none;
}